body {
    background-color: purple;
}

p, a, h1, h2, h3, li, input, button {
    font-family: Arial, Helvetica, sans-serif
}

.window_container {
    --r: 16 / 9;

    aspect-ratio: var(--r);
    width:min(75%, 75vh*(var(--r)));
    overflow: hidden;
    background-color: white;
    border-radius: 1% 1%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.window {
    width: auto;
    margin-left: 2%;
    margin-right: 2%;
}

.next {
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.fancy_button {
    color: #000000;
    background-color: darkgray;
    padding: 16px;
    text-decoration: none;
    display: block;
}

.fancy_button:hover {
    background-color: gray;
}