<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <div class="window_container">
            <div class="window">
                <h2>Arch Linux Installer</h2>
                <p>This installer will guide you through installing Arch Linux on your computer.</p>
                <p>Only UEFI systems are supported by this installer.</p>
                <p>Click "Next" to continue</p>
                <a class="next fancy_button" href="/disks">Next</a>
            </div>
        </div>
    </body>
</html>